@font-face {
    font-family: segoi-ui;
    src: url('../segoe-ui-4-cufonfonts/Segoe\ UI.ttf');
}

body {
    font-family: segoi-ui;
}

.encabezado {
justify-content:center;
display: flex;
flex-direction: column-reverse, ;
text-decoration: none;
color: aquamarine;
}

.logo {
    max-width: 6%;
}

.portada {
    color: aliceblue;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    background-image: url(/img/site-header-background.jpeg)
    
}






